.container {
  width: 100%;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  // margin-top: 7rem;
  padding-top: 3rem; // use padding instead of margin-top

  .action {
    display: flex;
    flex-direction: column;
    width: 10rem;
  }

  .top {
    width: 100%;
    border-radius: 6px;
    margin-top: 2rem;
    background-color: #2b74e8;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .score {
    // color: yellow;
    font-size: 28px;

    .red {
      color: red;
    }
    .orange {
      color: orange;
    }
    .yellow {
      color: white;
    }
  }
  .body {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    gap: 1rem;
    margin-top: 1rem;

    .left-hand-side {
      display: flex;
      flex-direction: column;
      padding: 1rem 1rem;

      // flex: 1;
      //  height: 100vh;
      .cardClass {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .ul-div {
          padding: 0.5rem;
          width: 100%;

          ul {
            // list-style: none;
            padding: 0.5rem;
            font-size: 18px;
          }
        }
      }
    }

    .right-hand-side {
      display: flex;
      flex-direction: column;
      padding: 1rem 1rem;
      // flex: 1;
      // height: 100vh;

      .skill {
        .cardClass2 .ul-div {
          display: flex;
          flex-wrap: wrap;
          padding: 0.5rem;
          ul {
            list-style: none;
            padding: 0.5rem;
            li {
              font-size: 18px;
              line-height: 2rem;
            }
          }
        }
      }

      .gaps {
        margin-top: 1rem;
        .cardClass3 .ul-div {
          padding: 0.5rem;
          ul {
            // list-style: none;
            padding: 0.5rem;
            margin-left: 1rem;

            li {
              font-size: 18px;
              line-height: 2rem;
            }
          }
        }
      }
      .summary {
        margin-top: 1rem;
        // margin-top: auto; this will pin the summary card to the bottom
        display: flex;
        flex-grow: 1;
        .cardClass4 {
          padding: 0.5rem;

          .summary-div {
            padding: 0.5rem;
            p {
              font-size: 18px;
              line-height: 2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
    margin-top: -3rem;
    max-width: 22rem;

    .action {
      margin-left: 1rem;
    }

    .top {
      width: 90%;
      max-width: 22rem;
      margin-left: 1rem;
    }

    .body {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;

      .left-hand-side {
        .cardClass {
          max-width: 22rem;
          font-size: 18px;
        }
      }

      .right-hand-side {
        .skill {
          .cardClass2 {
            max-width: 22rem;
          }
        }

        .gaps {
          .cardClass3 {
            max-width: 22rem;
          }
        }
      }
      .summary {
        .cardClass4 {
          max-width: 22rem;
        }
      }
    }
  }
}

// .body {
//     display: flex;
//     align-items: stretch;
//     min-height: 100vh;
//     gap: 1rem;
//     margin-top: 1rem;

//     .left-hand-side {
//       display: flex;
//       flex-direction: column;
//       padding: 1rem 1rem;
//       // flex: 1;
//       //  height: 100vh;
//       .cardClass .ul-div {
//         padding: 0.5rem;
//         width: 100%;

//         ul {
//           // list-style: none;
//           padding: 0.5rem;
//           font-size: 18px;
//         }
//       }
//     }

//     .right-hand-side {
//       display: flex;
//       flex-direction: column;
//       padding: 1rem 1rem;
//       // flex: 1;
//       // height: 100vh;
