.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .action {
    display: flex;
    flex-direction: column;
    width: 10rem;
  }

  .top {
    width: 100%;
    border-radius: 6px;
    margin-top: 2rem;
    background-color: #2b74e8;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .score {
    // color: yellow;
    font-size: 28px;

    .red{
      color: red;
    }
    .orange{
      color: orange;
    }
    .yellow{
      color: white;
    }
  }
  .body {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    .strength-and-gaps {
      .cardClass .ul-div {
        padding: 0.5rem;

        ul {
          // list-style: none;
          padding: 0.5rem;
        }
      }
    }

    .right-hand-side {
      display: flex;
      flex-direction: column;

      .skill {
        .cardClass2 .ul-div {
          display: flex;
          flex-wrap: wrap;
          padding: 0.5rem;
          ul {
            list-style: none;
            padding: 0.5rem;
            li {
              font-size: 18px;
              line-height: 2rem;
            }
          }
        }
      }

      .gaps {
        margin-top: 1rem;
        .cardClass3 .ul-div {
          padding: 0.5rem;
          ul {
            // list-style: none;
            padding: 0.5rem;
            margin-left: 1rem;

            li {
              font-size: 18px;
              line-height: 2rem;
            }
          }
        }
      }
      .summary {
        margin-top: 1rem;
        .cardClass4 {
          padding: 0.5rem;

          .summary-div {
            padding: 0.5rem;
            p {
              font-size: 18px;
              line-height: 2rem;
            }
          }
        }
      }
    }
  }
}
