.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 50vh;
  min-width: 20rem;
}

@media screen and (max-width: 640px) {
  .home-container {
    width: 100%;
    // min-width: 40rem;
    // min-width: 25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 10vh;

    h1{
      font-size: 1rem;
    }
    p{
      font-size: 0.75rem;
    }
  }
}
