.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(242, 237, 237);
  padding: 0rem 10%;

  .active{
    border-bottom: 1px red solid;
  }
  a{
    text-decoration: none;
  }

  h1 {
    span {
      color: #85abdd;
    }
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      gap: 1rem;
      list-style: none;
    }
  }
}
