.button{
    background-color:#2b74e8;
    // padding: 0.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    color: #c4d9f4;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500px;
    transition: all 0.3s;
    text-align: center;
}

.button:hover{
    background-color: skyblue;
    box-shadow: 0 4px 10px rgba(33, 161, 241, 0.4);
}