.auth-form-container {
  width: 100%;
  max-width: 25rem;
  min-width: 20rem;
  margin: 7rem auto;

  //  display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   padding: 2rem;

  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  form {
    width: 100%;

    .cardClass {
      padding: 1rem;

      .form-intro {
        margin-top: 0.5rem;
        padding: 0.25rem;

        h2 {
          text-align: center;
          font-size: 1rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
          padding: 0.5rem;
        }
      }

      .control {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        label {
          font-weight: bold;
          font-size: 1rem;
        }

        input {
          width: 100%;
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 6px;
          font-size: 1rem;
        }
      }

      .button {
        width: 100%;
      }

      .form-outro {
        text-align: center;
        padding: 1rem;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .auth-form-container {
    // width: 100%;
    // max-width: 20rem;
    // min-width: 25rem;
    // margin: -2rem auto;

    width: 100%;
    max-width: 20rem;
    margin: -2rem auto;
  }
}
